<%- include("../partials/header") %>
<!-- <div class="jumbotron">
    <h1>NEW DEPARTMENTAL FESTS PAGE</h1>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-12 jumbotron d-flex justify-content-center my-2">
            <h1>"FEST NAME" :DEPARTMENT NAME</h1>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>